.container {
	display: flex;
	width: auto;
	flex-direction: column;
	justify-content: space-between;
	margin: 5% 30%;
	box-shadow: 0 0 0 0.1px;
	border-radius: 3px;
}

@media (max-width: 900px) {
	.container {
		margin: 30% 5%;
	}
}
@media (max-width: 600px) {
	.container {
		border: none;
	}
}

.container > div > h1 {
	text-transform: uppercase;
}
.container > div > p {
	font-size: 2rem;
}

.header {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.form__container {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	border-radius: 0.5rem;
	justify-content: space-between;
}

.form__container > h1 {
	text-transform: uppercase;
	text-align: center;
}
.form__container > form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 5%;
}
input {
	/* box-shadow: 0 0 1px; */
	width: 80%;
	/* border: 1px solid lightgray; */
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	margin-left: 10%;
}

input {
	background-color: #fff;
}

input:hover {
}

form > div {
	width: 80%;
	border: none;
	margin-top: 1rem;
	padding: 1rem;
	margin-left: 4%;
	display: flex;
	justify-content: space-evenly;
}

button {
	width: 20rem;
	height: 4rem;
	margin-left: 20%;
	outline: 0;
	background-color: rgb(92, 211, 181);
	border: 0;
	color: white;
	text-transform: uppercase;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

button:active {
	z-index: -999;
	background-color: rgb(96, 231, 197);
}

.error {
	display: flex;
	margin-left: 1rem;
	justify-content: space-around;
	color: red;
	/* text-align: left; */
}
