.main__intern__table {
	display: flex;
	flex-direction: column;
}

.action__btns {
	margin-top: 1rem;
	justify-content: space-evenly;
}

.card__intern__preview {
	width: 100%;
	max-width: 1100px;
	margin-left: 3rem;
	background-color: rgba(235, 235, 235, 0.267);
	white-space: nowrap;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: -9.4rem;
	-webkit-overflow-scrolling: touch;
}
